.login-container {
    background-image: url('https://example.com/your-background-image.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mobile-screen {
    width: 100%;
    max-width: 450px; 
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
    background-image: url("../assets/logo.png");
    background-position: center;
    background-size: cover;
    
}

.mobile-screen:hover {
    transform: translateY(-5px);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login-input {
    margin-bottom: 15px; 
}

.form-actions {
    display: flex;
    justify-content: center;
}

.login-btn-unique {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    text-transform: none;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: background-color 0.3s, transform 0.2s;
}

.login-btn-unique:hover {
    background-color: #0056b3; 
    transform: translateY(-2px);
}

.links {
    margin-top: 15px;
    text-align: center;
}

.links p {
    margin: 5px 0;
}

.links a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}


@media (max-width: 480px) {
    .mobile-screen {
        padding: 20px;
    }

    .login-title {
        font-size: 20px;
    }

    .login-btn-unique {
        font-size: 16px;
    }
}