// Adjusting z-index and adding margin to fix the overlap issue and add space

// Assuming your navbar has a class of 'navbar'
.navbar {
  position: relative;
  z-index: 1000; // Set a higher z-index for the navbar
}

// Register.scss
$primary-color: #1976d2; // Change this to your preferred theme color
$background-color: #f5f5f5;
$hover-brightness: 1.1;

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); // Adjust the height to account for navbar height
  margin-top: 60px; // Add margin to create space between navbar and the card
  background-color: $background-color;
  padding: 0 1rem;
  z-index: 500; // Ensure the z-index is lower than the navbar
}

.register-form {
  background: #fff;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  animation: fadeIn 0.5s ease-in-out;

  @keyframes fadeIn {
      from {
          opacity: 0;
          transform: translateY(-20px);
      }
      to {
          opacity: 1;
          transform: translateY(0);
      }
  }
}

.register-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  .register-logo {
      width: 40px;
      height: 40px;
      margin-right: 60px;
      @media (max-width: 600px) {
          margin-right: 20px;
      }
  }

  .register-title {
      color: $primary-color;
      font-size: 1.75rem;
      font-weight: bold;
  }
}

.register-username,
.register-email,
.register-phone,
.register-acctype,
.register-password,
.register-confirm-password {
  margin-bottom: 1rem;

  .MuiInputBase-input {
      padding: 0.75rem;
  }
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  .register-btn,
  .login-btn {
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }

  .register-btn {
      background-color: $primary-color;
      color: #fff;
      margin-right: 10px;

      &:hover {
          background-color: ($primary-color, 10%);
          filter: brightness($hover-brightness);
      }
  }

  .login-btn {
      border-color: $primary-color;
      color: $primary-color;

      &:hover {
          background-color: ($primary-color, 40%);
          filter: brightness($hover-brightness);
      }
  }
}

@media (max-width: 600px) {
  .register-form {
      padding: 2rem;
  }

  .form-actions {
      flex-direction: column;

      .register-btn,
      .login-btn {
          width: 100%;
          margin-bottom: 0.5rem;
      }
  }
}
